#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#2c3e50;margin-top:60px}h1[data-v-5ea8363b],h2[data-v-5ea8363b]{font-weight:400}ul[data-v-5ea8363b]{list-style-type:none;padding:0}li[data-v-5ea8363b]{display:inline-block;margin:0 10px}a[data-v-5ea8363b]{color:#42b983}
/*# sourceMappingURL=app.fade52dc5188b3eb489862ad228e8b8b.css.map */